* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  background-color: rgb(230, 232, 247);
}
.container {
  margin: 0 auto;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#btnS1 {
  width: 300px;
  height: 50px;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 20px;
  background-color: transparent;
  margin: 20px 0px;
	cursor: pointer;
}
.photo-gallery {
  display: flex;
  width: 100%;
  padding: 5px;
  flex-flow: row wrap;
  justify-content: center;
}
.content-alignment {
  align-content: space-around;
  align-self: flex-end;
  margin: 10px 5px 0px;
}
.mask {
  width: 100%;
  height: 100%;
  background: #dad8d86e;
  position: fixed;
  top: 0;
  z-index: 1;
  transition: 600;
  display: none;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 105px;
  height: 105px;
  border: 3px solid rgba(70, 110, 240, 0.849);
  border-radius: 50%;
  border-left-color: rgb(116, 221, 245);
  animation: loader 1.3s linear infinite;
}
@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}
